<footer>
    <div class="footer-content">
        <div class="footer-section contacts">
            <h4>Contactos</h4>
            <p><i class="fas fa-envelope"></i> Email: <a href="mailto:contato@autotech.com">contacto@autotech.com</a></p>
            <p><i class="fas fa-phone"></i> Telefone: <a href="">+351 966 666 666</a></p>
            <p><i class="fas fa-map-marker-alt"></i> Morada: <a href="https://maps.app.goo.gl/Ag67TkEwb7G1N5NE9">Alameda das Linhas de Torres 179, 1750-142 Lisboa</a></p>
        </div>

        <div class="footer-section policies">
            <h4>Políticas</h4>
            <ul>
                <li><i class="fas fa-file-alt"></i> <a href="">Política de Privacidade</a></li>
                <li><i class="fas fa-file-contract"></i> <a href="">Termos e Condições</a></li>
                <li><i class="fas fa-undo-alt"></i> <a href="">Política de Reembolso</a></li>
            </ul>
        </div>

        <div class="footer-section social-media">
            <h4>Siga-nos</h4>
            <a href="https://facebook.com/autotech" target="_blank"><i class="fab fa-facebook"></i> Facebook</a> |
            <a href="https://twitter.com/autotech" target="_blank"><i class="fab fa-twitter"></i> Twitter</a> |
            <a href="https://instagram.com/autotech" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
    </div>

    <p>&copy; 2024 <a href="{{ url_for('index') }}">Auto Tech</a>. Todos os direitos reservados.</p>
</footer>