<header>
  <img
    src="{{ url_for('static', filename='images/logo_auto-tech_white.png') }}"
    alt="Logo Auto Tech"
    class="logo"
  />
  <nav>
    <a href="/index" aria-label="Home"><i class="fas fa-home"></i> Home</a>
    <a href="/cart" aria-label="Carrinho"
      ><i class="fas fa-shopping-cart"></i> Carrinho</a
    >
    <a href="/profile" aria-label="Perfil"
      ><i class="fas fa-user"></i> Perfil</a
    >
    <a href="/login" aria-label="Login"
      ><i class="fas fa-sign-in-alt"></i> Login</a
    >
  </nav>
</header>
