/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    
    margin-top: 69px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header img.logo {
    max-height: 50px;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.5em 1em;
    border-radius: 5px;
}

header nav a:hover {
    background-color: #444;
    color: #DF0101;
}

/* Estilos responsivos para o Header */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    header nav {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    header img.logo {
        max-height: 40px;
    }

    header nav a {
        padding: 0.5em;
    }
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Para garantir que cada slide ocupe 100% da largura */
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content Centering */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    max-width: 80%;
    padding: 1em;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4); /* Background semi-transparente para dar contraste */
    border-radius: 10px;
}

.content h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.content p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

/* Botão */
.content .btn {
    background-color: #DF0101;
    color: #fff;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 25px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content .btn:hover {
    background-color: #b80000;
    transform: scale(1.05); /* Aumenta o botão levemente ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .content h2 {
        font-size: 2em;
    }

    .content p {
        font-size: 1em;
    }

    .content .btn {
        padding: 10px 25px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .content h2 {
        font-size: 1.5em;
    }

    .content p {
        font-size: 0.9em;
    }

    .content .btn {
        padding: 8px 20px;
        font-size: 0.85em;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .content h2 {
        font-size: 2.2em;
    }

    .content p {
        font-size: 1em;
    }

    .content .btn {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}


/* Seção de Login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2em auto;
    width: 90%;
}

.login h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.login form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login label {
    font-size: 1em;
    margin: 10px 0 5px;
    color: #333;
}

.login input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: border-color 0.3s ease;
}

.login input:focus {
    border-color: #555;
}

/* Botões */
button {
    background: linear-gradient(135deg, #333, #555); /* Gradiente */
    color: #fff;
    padding: 12px 20px; /* Aumentando o padding */
    border: none;
    border-radius: 25px; /* Bordas mais arredondadas */
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transições */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

button:hover {
    background-color: #555; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Levanta o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
}


.login p {
    margin-top: 1em;
    font-size: 0.9em;
    color: #555;
}

.login a {
    color: #333;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login a:hover {
    color: #555;
}

/* Seção do Carrinho */
.cart {
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2em auto;
}

.cart h2 {
    text-align: center;
    margin-bottom: 1.5em;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f2f2f2; /* Efeito hover na linha */
}

.total {
    font-size: 1.2em;
    text-align: right;
    margin-top: 1em;
}

/* Seção de Produtos */
.products {
    padding: 3em 1em;
    text-align: center;
    background-color: #f9f9f9;
}

.products h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5em;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5em;
    margin: 1em;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

.product h3 {
    font-size: 1.1em;
    margin: 0.5em 0;
    color: #333;
}

.product p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 1em;
}

/* Seção de Registro */
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2em auto;
    width: 90%;
}

.register h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.register form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.register label {
    font-size: 1em;
    margin: 10px 0 5px;
    color: #333;
}

.register input {
    padding: 12px; /* Aumentando o padding */
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: border-color 0.3s ease;
}

.register input:focus {
    border-color: #555; /* Contorno ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
}


/* Seção de Checkout */
.checkout {
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto;
    width: 90%;
}

.checkout h2 {
    margin-bottom: 1em;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5em; /* Espaçamento entre os campos */
}

.checkout label {
    margin: 10px 0 5px;
    display: block;
    font-weight: bold; /* Aumenta o destaque do rótulo */
}

.checkout input, 
.checkout select {
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Faz com que o input ocupe toda a largura disponível */
    transition: border-color 0.3s ease;
}

.checkout input:focus, 
.checkout select:focus {
    border-color: #555; /* Contorno ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
}

/* Estilos do botão de checkout */
.checkout-button {
    margin-top: 10px;
    background: linear-gradient(135deg, #333, #555); /* Gradiente */
    color: #fff;
    padding: 12px 20px; /* Aumentando o padding */
    border: none;
    border-radius: 25px; /* Bordas mais arredondadas */
    cursor: pointer;
    font-size: 1em;
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Garante que o link se comporte como um botão */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* O botão ocupa a largura total do elemento pai */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

.checkout-button:hover {
    
    background-color: #555; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Levanta o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
}


/* Seção de Not Found */
.not-found {
    padding: 3em 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 3em auto;
    text-align: center; /* Centraliza o texto */
}

.not-found h2 {
    font-size: 2.5em;
    color: #e74c3c; /* Cor de alerta */
    margin-bottom: 0.5em;
}

.not-found p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #555;
}

.back-button {
    background: linear-gradient(135deg, #333, #555); /* Gradiente */
    color: #fff;
    padding: 12px 20px; /* Aumentando o padding */
    border: none;
    border-radius: 25px; /* Bordas mais arredondadas */
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block; /* Para funcionar como um botão */
    text-decoration: none; /* Remove sublinhado */
    margin-top: 1em;
}

.back-button:hover {
    background-color: #555; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Levanta o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
}

/* Seção de Detalhes do Produto */
.product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    max-width: 800px; /* Largura máxima */
}

.product-image img {
    max-width: 100%; /* Imagem responsiva */
    border-radius: 8px; /* Bordas arredondadas */
}

.details {
    padding: 1em;
    max-width: 400px; /* Largura máxima para detalhes */
    text-align: left; /* Alinhamento à esquerda para texto */
}

.details h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.details p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 1em;
}

.add-to-cart {
    background: linear-gradient(135deg, #333, #555); /* Gradiente */
    color: #fff;
    padding: 12px 20px; /* Aumentando o padding */
    border: none;
    border-radius: 25px; /* Bordas mais arredondadas */
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.add-to-cart:hover {
    background-color: #555; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Levanta o botão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
}

/* Seção de perfil */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #f9f9f9;
    max-width: 700px;
    margin: 2em auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.profile h2 {
    font-size: 2.2em;
    margin-bottom: 1em;
    color: #444;
}

/* Estilo do formulário */
.profile form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilo da foto de perfil */
.profile-pic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.upload-btn {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
    cursor: pointer;
    text-decoration: underline;
}

/* Labels e Inputs */
.profile label {
    font-size: 1em;
    margin: 10px 0 5px;
    color: #333;
}

.profile input {
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: border-color 0.3s;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.profile input:focus {
    border-color: #666;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para Fieldset e Legend */
fieldset {
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

legend {
    padding: 0 10px;
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Botão de atualização */
.profile button {
    background: linear-gradient(135deg, #4a4a4a, #333);
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    align-self: center;
    max-width: 200px;
    width: 100%;
}

.profile button:hover {
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

/* Estilo da caixa de seleção */
select {
    width: 100%;
    max-width: 300px; /* Tamanho máximo */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Aparência ao focar */
select:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
    outline: none;
}

/* Aparência do option */
option {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
}

/* Personalização para o primeiro item */
select option[selected] {
    font-weight: bold;
    color: #444;
}

/* Wrapper para o conteúdo principal */
main {
    flex: 1; /* Faz o main expandir para ocupar o espaço disponível */
}


/* Footer normal, aparece no final da página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}

footer a {
    color: #DF0101;
    text-decoration: none;
    margin-left: 5px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}