{% extends 'core/base.html' %} {% block title %}404{% endblock %} {% block main
%}
<main>
  <section class="not-found">
    <h2>404 - Página Não Encontrada</h2>
    <p>Desculpa, mas a página que estás procurando não foi encontrada.</p>
    <a href="{{ url_for('index') }}" class="back-button"
      >Voltar à Página Inicial</a
    >
  </section>
</main>
{% endblock %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let slideIndex = 0;
    const slides = document.querySelectorAll(".slide");
    const totalSlides = slides.length;
    let slideInterval = setInterval(() => moveSlide(1), 5000);

    function moveSlide(step) {
      clearInterval(slideInterval);
      slideIndex += step;
      if (slideIndex < 0) slideIndex = totalSlides - 1;
      else if (slideIndex >= totalSlides) slideIndex = 0;
      updateSlider();
      slideInterval = setInterval(() => moveSlide(1), 5000);
    }

    function updateSlider() {
      const slideWidth = slides[0].clientWidth;
      document.querySelector(".slides").style.transform = `translateX(${
        -slideWidth * slideIndex
      }px)`;
    }
  });
</script>
{% endblock %} {% include 'core/footer.html' %}
