{% extends 'core/base.html' %}

{% block main %}
<main>
    <section class="login">
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Escreve o teu email" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Escreve a tua senha" required>
            
            <button type="submit">Entrar</button>
        </form>
        <p>Não tens uma conta? <a href="{{ url_for('registo') }}">Regista-te aqui</a>.</p>
    </section>
</main>
{% endblock %}
