{% extends 'core/base.html' %}

{% block main %}
<main>
    <section class="product-detail">
        <div class="product-image">
            <img src="{{ url_for('static', filename='images/' + produto.nome + '.png') }}" alt="">
        </div>
        <div class="details">
            <h2>{{ produto.nome }}</h2>
            <p><strong>Preço:</strong> {{ produto.preco }}€</p>
            <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
        </div>
    </section>
</main>
{% endblock %}
