{% extends 'core/base.html' %}

{% block tittle %}{{ user.nome }}{% endblock %}

{% block main %}
<main>
    <section class="profile">
        <h2>{{ user.nome }}</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            <!-- foto de perfil -->
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='uploads/' + user.imagem) }}" alt="Foto de Perfil" id="profile-img">
                <label for="upload-photo" class="upload-btn">Alterar Foto</label>
                <input type="file" id="upload-photo" name="foto_perfil" accept="image/*" hidden>
            </div>

            <!-- Campos de informações básicas -->
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ user.nome }}" required>

            <label for="phone">Telefone:</label>
            <input type="text" id="phone" name="phone" value="{{ user.phone }}" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>

            <!-- morada -->
            <fieldset>
                <legend>Morada</legend>
                <label for="rua">Rua:</label>
                <input type="text" id="rua" name="rua" value="{{ user.rua }}" required>

                <label for="numero">Porta:</label>
                <input type="text" id="numero" name="numero" value="{{ user.numero }}" required>

                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" name="cidade" value="{{ user.cidade }}" required>

                <label for="codigo-postal">Código Postal:</label>
                <input type="text" id="codigo-postal" name="codigo_postal" value="{{ user.codigo_postal }}" required>

                
                <label for="country">País:</label>
                <select id="country" name="country">
                    {% for continente, paises in paises_por_continente.items() %}
                        <optgroup label="{{ continente }}">
                            {% for pais in paises %}
                                <option value="{{ pais }}" 
                                        {% if user.country and user.country.strip().lower() == pais.strip().lower() %}selected{% endif %}>
                                    {{ pais }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>

            </fieldset>
            

            <!-- morada de faturação -->
            <fieldset>
                <legend>Morada de Faturação</legend>
                <label for="rua-faturacao">Rua:</label>
                <input type="text" id="rua-faturacao" name="rua-faturacao" value="{{ user.rua_faturacao }}" required>

                <label for="numero-faturacao">Porta:</label>
                <input type="text" id="numero-faturacao" name="numero-faturacao" value="{{ user.numero_faturacao }}" required>

                <label for="cidade-faturacao">Cidade:</label>
                <input type="text" id="cidade-faturacao" name="cidade-faturacao" value="{{ user.cidade_faturacao }}" required>

                <label for="codigo-postal-faturacao">Código Postal:</label>
                <input type="text" id="codigo-postal-faturacao" name="codigo-postal-faturacao" value="{{ user.codigo_postal_faturacao }}" required>

                <label for="pais-faturacao">País:</label>
                <select id="pais-faturacao" name="pais-faturacao">
                    {% for continente, paises in paises_por_continente.items() %}
                        <optgroup label="{{ continente }}">
                            {% for pais in paises %}
                                <option value="{{ pais }}" 
                                        {% if user.pais_faturacao and user.pais_faturacao.strip().lower() == pais.strip().lower() %}selected{% endif %}>
                                    {{ pais }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </fieldset>

            
            <button type="submit">Atualizar Perfil</button>
        </form>
    </section>
</main>
{% endblock %}
